body, ul{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: absolute;
  background-image:linear-gradient(rgba(232, 226, 219, 0.7), rgba(232, 226, 219, 0.7)), url("../images/bg/bg.jpg");
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
  overflow-x: hidden;
  background-attachment: fixed;
}
/* navbar */
.navbar {
  position: fixed;
  width: 100%;
  background-color: rgb(224, 108, 65);
  transition: 0.7s; 
  z-index: 200;
}

.brand {
    font-size: 1.325rem;
    color: #e2dcdc;
    text-decoration: none;
    padding-left: 20px;}

    /* signout links */
.signout {
  position: absolute;
  z-index: 200;
  margin-top: 10px;
  position: fixed;
  width: 100%}

.signout ul{
    float: right
  }

.signoutlinks li{
  display: inline-block;
  list-style-type: none;
  margin-right: 10px;
  background: #fff;
  padding: 5px;
  border: 1px solid #fff;}

.signoutlinks ul a{
  text-decoration: none;
  color: black;
}

/* signin links */
.signin {
  position: absolute;
  z-index: 100;
  margin-top: 10px;
  position: fixed;
  width: 100%}

.signin ul{
    float: right
  }

.signinlinks li{
  display: inline-block;
  list-style-type: none;
  margin-right: 10px;
  background: #fff;
  padding: 5px;
  border: 1px solid #fff;}

.signinlinks ul a{
  text-decoration: none;
  color: black;
}

/* Hero Starting point*/
.hero2 {
  position: absolute;
  top: 30%;
  width: 100%;
  color: white;
  margin: 0 auto;
  text-align: center;
  font-family: 'Monotype Corsiva';
  font-size: 120%;
  text-shadow: 2px 2px rgb(224, 108, 65);
  border-radius: 10px;
}

.hero2 .button1 {
  width: 200px;
  padding: 10px;
  font-size: 20px;
  font-family: centaur;
  color: white;
  background: rgb(224, 108, 65);
  border: 2px solid white;
  border-radius: 10px;
  transition-duration: 1s;
  margin-bottom: 4px;
  margin-right: 20px;
}

.hero2 .button2 {
  width: 200px;
  padding: 10px;
  font-size: 20px;
  font-family: centaur;
  color:  rgb(224, 108, 65);
  border: 2px solid rgb(224, 108, 65);
  background: white;
  border-radius: 10px;
  transition-duration: 1s;
}

.hero2 .button1:hover {
  background: white;
  color: rgb(224,108,65);
  border-color: rgb(224, 108, 65);
}

.button2 a {
  color: rgb(224,108,65);
  text-decoration: none;
}

.button1 a:hover {
  color: rgb(224,108,65);
  text-decoration: none;
}

.button2 a:hover {
  color: white;
  text-decoration: none;
}

.button1 a {
  color: white;
  text-decoration: none;
}
.hero2 .button2:hover {
  color: white;
  background: rgb(224, 108, 65);
  border-color: white;
}

/* About us styling */
.wrapper {
  position: absolute;
  top: 100%;
  margin: 0;
  padding: 0;
}
.about_us {
  background: white;
  width: 100%;
  text-align: center;
}

.about_us h1 {
  text-align: center;
  margin: 0;
  padding: 0;
}

hr {
  border: 2px solid rgb(224, 108, 65);
  width: 5%;
  margin: 0 auto;
  color: rgb(224, 108, 65);
  margin-bottom: 1%;
}

.about_us p {
  padding: 0 20% 0 20%;
  font-size: 110%;
  line-height: 1.5;
}

.disgrid {
  display: inline-flex;
}

.logo1 {
  width: 200px;
  height: 200px;
}

/* Recent Food */
.gallery {
  margin-top: -22px;
  width: 100%;
  background: url('../images/image/undraw_mint_tea_7su0 (1).svg');
  background-position: center center;
  background-size: cover;
  background-color: white;
  margin-bottom: 0px;
  text-align: center;
}


.order-hero a {
  text-decoration: none;
  color: hsla(16, 81%, 54%, 0.972);
  transition: 0.25s;
}
.order-hero a:hover {
  text-decoration: none;
  font-size: 25px;
}

.gallery h1,p {
  text-align: center;
}

.column img {
  height: 200px;
  width: 100%;
  transition-duration: 1s;
  margin-bottom: 0;
}

.column {
  width:  20%;
  margin-left: 4%;
  border: 5px solid hsla(16, 81%, 54%, 0.972);
  border-radius: 8px;
  box-shadow: 2px 3px 8px #bbb;
  background-attachment: fixed;
  background-color: #fff; 
  margin-bottom: 20px;
}

.column img:hover {
  opacity: 0.6;
}

.row{
  display: flex;
  width: 80%;
  margin: 0px auto;
}

.imagedescription {
  background-color: white;
  min-height: auto;
  text-align: center;
  margin: 0px;
  padding: 0px
}

.imagedescription p{
  font-size: 16px;
}

.name {
  font-weight: bold
}

/* sucess stories */
.testimonial {
  margin-top: -22px;
  background-color: #fff;
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}
.success-stories {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.quote {
  font-size: 30px;
  float: left;
}

/* footer styling */
.footer {
  z-index: 2000;
  width: 100%;
  min-height: 25vh;
  background: rgb(40, 43, 46);
  color: white;
  overflow: hidden;
}

.address{
  background-color:rgb(224, 108, 65);
  margin-top: -12px;
  padding: 10px;
  margin-bottom: 10px;
}

.list {
  margin: 0;
  float: left;
}
.list a {
  color: white;
}

.list li {
  display: inline;
  padding-left: 5px;
}

.socials {
  margin: 0;
  float: right;
  padding-right: 20px;
}

.copy {
  clear: both;
}

.socials img {
  width: 30px;
}

.footer-top {
  background-color: red;
}

/* Responsive */
@media screen and (max-width: 800px) and (min-width: 601px) {
  .column {
    width: 50%;
  }
  .disgrid{
    display: block;
  }

  .contact-us{
    width: 80%;
    padding: 20px;
  }
}


@media screen and (max-width: 600px) {
  .row {
    flex-direction: column;
    width: 60%;
  }
  .column {
    width: 50%;
  }

  .column{
    margin-left: 0px; 
    width: 100%;
  }
  .disgrid {
    display: block;
  }

  .success-stories {
    display: block;
  }
  .socials, .list {
    width: 100%;
    text-align: center;
    margin-bottom: 4px;
  }
  .address p {
    padding: 5px;
    width: 100%;
  }

  .copy p {
    padding: 5px;
    width: 100%;
  }
}