@import url('https://fonts.googleapis.com/css?family=Charm|Quicksand|Raleway');

body, ul{
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

.container {
  position: absolute;
  background-image:linear-gradient(rgba(232, 226, 219, 0.7), rgba(232, 226, 219, 0.7)), url("../images/bg/bg.jpg");
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
  overflow-x: hidden;
  background-attachment: fixed;
}
/* navbar */
.navbar {
  position: fixed;
  width: 100%;
  background-color: #e06c41;
  z-index: 10;
  top: 0;
}

.brand {
    font-size: 1.325rem;
    color: #e2dcdc;
    text-decoration: none;
    float: left;
    padding-left: 20px;}

.brand a {
  text-decoration: none;
  color: #e2dcdc;
}

.navList {
  margin-top: 0;
  width: 100%}

nav {
  float: right;
  margin-right: 80px;
}

nav ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav li {
  display: inline-block;
  margin-left: 40px;
  padding-top: 28px;
  position: relative;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

nav ul li ul a::before,
nav a::before {
  content: '';
  display: block;
  height: 4px;
  width: 0%;
  background-color: #fff;
  position: absolute;
  transition: all ease-in-out 250ms;
  margin-top: -5px;
}

nav ul li ul a:hover::before,
nav a:hover::before {
  width: 100%;
}

nav ul li ul{
    position: absolute;
    display: none;
    margin-top: 0;
    background-color: #e06c41;
    text-align: center;
    padding-bottom: 20px;
    border-radius: 5px;
  }

nav ul li ul li{
  margin-left: 0;
  padding-top: 20px;
  animation-name: listanim;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}
  

  nav ul li:hover > ul,
  nav ul li ul:hover {
    display: block;
  }

@keyframes listanim {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.dropwelcome {
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
}

/* Hero Starting point*/
.hero2 {
  position: absolute;
  top: 30%;
  width: 100%;
  color: white;
  margin: 0 auto;
  text-align: center;
  font-family: 'Monotype Corsiva';
  font-size: 120%;
  text-shadow: 2px 2px rgb(224, 108, 65);
  border-radius: 10px;
}

.hero2 .button1 {
  width: 200px;
  padding: 10px;
  font-size: 20px;
  font-family: centaur;
  color: white;
  background: rgb(224, 108, 65);
  border: 2px solid white;
  border-radius: 10px;
  transition-duration: 1s;
  margin-bottom: 4px;
  margin-right: 20px;
}

.hero2 .button2 {
  width: 200px;
  padding: 10px;
  font-size: 20px;
  font-family: centaur;
  color:  rgb(224, 108, 65);
  border: 2px solid rgb(224, 108, 65);
  background: white;
  border-radius: 10px;
  transition-duration: 1s;
}

.hero2 .button1:hover {
  background: white;
  color: rgb(224,108,65);
  border-color: rgb(224, 108, 65);
}

.button2 a {
  color: rgb(224,108,65);
  text-decoration: none;
}

.button1 a:hover {
  color: rgb(224,108,65);
  text-decoration: none;
}

.button2 a:hover {
  color: white;
  text-decoration: none;
}

.button1 a {
  color: white;
  text-decoration: none;
}
.hero2 .button2:hover {
  color: white;
  background: rgb(224, 108, 65);
  border-color: white;
}

/* About us styling */
.wrapper {
  position: absolute;
  top: 100%;
  margin: 0;
  padding: 0;
}
.about_us {
  background: white;
  width: 100%;
  text-align: center;
}

.about_us h1 {
  text-align: center;
  margin: 0;
  padding: 0;
}

hr {
  border: 2px solid rgb(224, 108, 65);
  width: 5%;
  margin: 0 auto;
  color: rgb(224, 108, 65);
  margin-bottom: 1%;
}

.about_us p {
  padding: 0 20% 0 20%;
  font-size: 110%;
  line-height: 1.5;
}

.disgrid {
  display: inline-flex;
}

.logo1 {
  width: 200px;
  height: 200px;
}

/* Recent Food */
.gallery {
  margin-top: -22px;
  width: 100%;
  background: url('../images/image/undraw_mint_tea_7su0 (1).svg');
  background-position: center center;
  background-size: cover;
  background-color: white;
  margin-bottom: 0px;
  text-align: center;
}


.order-hero a {
  text-decoration: none;
  color: hsla(16, 81%, 54%, 0.972);
  transition: 0.25s;
}
.order-hero a:hover {
  text-decoration: none;
  font-size: 25px;
}

.gallery h1,p {
  text-align: center;
}

.column img {
  height: 200px;
  width: 100%;
  transition-duration: 1s;
  margin-bottom: 0;
}

.column {
  width:  20%;
  margin-left: 4%;
  border: 5px solid hsla(16, 81%, 54%, 0.972);
  border-radius: 8px;
  box-shadow: 2px 3px 8px #bbb;
  background-attachment: fixed;
  background-color: #fff; 
  margin-bottom: 20px;
}

.column img:hover {
  opacity: 0.6;
}

.row{
  display: flex;
  width: 80%;
  margin: 0px auto;
}

.imagedescription {
  background-color: white;
  min-height: auto;
  text-align: center;
  margin: 0px;
  padding: 0px
}

.imagedescription p{
  font-size: 16px;
}

.name {
  font-weight: bold
}

/* sucess stories */
.testimonial {
  margin-top: -22px;
  background-color: #fff;
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}
.success-stories {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.quote {
  font-size: 30px;
  float: left;
}

/* footer styling */
.footer {
  z-index: 5000;
  width: 100%;
  min-height: 25vh;
  background: rgb(40, 43, 46);
  color: white;
  overflow: hidden;
}

.address{
  background-color:rgb(224, 108, 65);
  margin-top: -12px;
  padding: 10px;
  margin-bottom: 10px;
}

.list {
  margin: 0;
  float: left;
}
.list a {
  color: white;
}

.list li {
  display: inline;
  padding-left: 5px;
}

.socials {
  margin: 0;
  float: right;
  padding-right: 20px;
}

.copy {
  clear: both;
}

.socials img {
  width: 30px;
}

.footer-top {
  background-color: red;
}

/* Responsive */
@media screen and (max-width: 800px) and (min-width: 601px) {
  .column {
    width: 50%;
  }
  .disgrid{
    display: block;
  }

  .contact-us{
    width: 80%;
    padding: 20px;
  }
}


@media screen and (max-width: 600px) {
  .row {
    flex-direction: column;
    width: 60%;
  }
  .column {
    width: 50%;
  }

  .column{
    margin-left: 0px; 
    width: 100%;
  }
  .disgrid {
    display: block;
  }

  .success-stories {
    display: block;
  }
  .socials, .list {
    width: 100%;
    text-align: center;
    margin-bottom: 4px;
  }
  .address p {
    padding: 5px;
    width: 100%;
  }

  .copy p {
    padding: 5px;
    width: 100%;
  }
}

/* signin Controller */
.signinContainer {
  background-image: url('../images/image/undraw_typewriter_i8xd.svg');
  width: 100%;
  height: 100vh;
  background-size: 500px 400px;
  background-repeat: no-repeat;
  background-position: 20%;
  background-color: #e06c4236;
  animation-name: signin;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes signin{
0%{transform:scaleX(2)}
100%{transform: unset}
}

.signinForm {
  position: absolute;
  background-color: #fff;
  left: 60%;
  height: 100vh;
  width: 40%;
  overflow: hidden;
  text-align: center;
}

.content {
  padding-top: 60px;
}

.content h1 {
  font-family: 'Charm', cursive;
}

.content h3 {
  margin-top: 60px;
  font-family: 'Raleway', sans-serif;
}

.form-container {
  width: 50%;
  margin: 0px auto;
  text-align: left;
  padding: 15px;
  margin-top: 10%;
}
.form-container .input-field input[type="email"] {
  border: none;
  border-bottom: 1px solid #e06c41;
  width: 100%;
  height: 35px;
  margin-bottom: 10px;
  outline: none;
  font-size: 16px;
}

.form-container .input-field input[type="password"] {
  border: none;
  border-bottom: 1px solid #e06c41;
  width: 100%;
  margin-bottom: 10px;
  height: 35px;
  outline: none;
  font-size: 16px;
}

.form-container .input-field input[type="text"] {
  border: none;
  border-bottom: 1px solid #e06c41;
  width: 100%;
  margin-bottom: 10px;
  height: 35px;
  outline: none;
  font-size: 16px;
}

.form-container .input-button {
  width: 30%;
  margin-left: 35%;
  height: 40px;
  border-radius: 10px;
  outline: none;
  background: rgb(224, 108, 65);
  border: 2px solid white;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}

.form-container .account a{
  color: #e06c41;
  
}

.form-container .create-account {
  margin-top: 20%;
}

.createSign {
  margin-top: 0;
}

.spinner {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-image: url('../images/image/text-animation-1s-280x100px\ \(1\).svg');
  z-index: 1000;
  background-size: 50% 50%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: #e06c4236;
}

.errorMessage {
  color: red;
  font-size: 16px;
}

.inValid {
  background-color: hsla(31, 86%, 52%, 0.599);
  color: white;
}
.valid {
  color: black;
}

/* signup css */
.signUpContainer{
  background-image: url('../images/image/undraw_chef_lbjx.svg');
  width: 100%;
  height: 100vh;
  background-size: 500px 400px;
  background-repeat: no-repeat;
  background-position: 80%;
  background-color: #e06c4236;
  animation-name: signup;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes signup {
  0%{transform:scale(2)}
  100%{transform: unset}
}

.signupForm {
  position: absolute;
  background-color: #fff;
  height: 100vh;
  width: 40%;
  overflow: hidden;
  text-align: center;
}

.signupf {
  width: 80%;
  margin: 0px auto;
  text-align: left;
  padding: 10px;
}

/* Toast container */
.toastContainer {
  z-index: 200;
  position: fixed;
  height: 60px;
  width: 20%;
  border: 1px solid #fff;
  background-color: #e06c4236;
  left: 80%;
  top: 10%;
  animation-name: toast;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes toast{
  0% {transform:translate(100%)rotateX(180deg)}
  100% {transform: translate(0%)}
}

/* order history container */
.orderContainer {
  width: 100%;
  min-height: 100vh;
  background-size: 500px 400px;
  background-repeat: no-repeat;
  background-position: 20%;
  background-color: #e06c4236;
  animation-name: order;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  padding-top: 60px;
  text-align: center;
}


.orderhistory {
  width: 80%;
  margin: 0 auto;
}

.orderhistory table {
  border-collapse: collapse;
  width: 80%;
  margin: 0px auto;
}

.orderhistory td,th {
  border: 1px solid black;
  padding: 10px;
}

.orderhistory th{
  background-color: hsla(16, 72%, 57%, 0.782);
}

.orderhistory tbody:nth-child(odd) {
  background-color: #fff;
}

@keyframes order{
  0%{opacity: 0;}
  100%{opacity: 1;}
  }

/* order details */
.orderdetails {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: hsla(0, 0%, 0%, 0.68);
  overflow: hidden;
  animation-name: orderdetails;
  animation-duration: 1s;
}

@keyframes orderdetails {
  0% {transform: scale(2)}
  100% {transform: unset}
}

.orderwidth {
  position: relative;
  top: 20%;
  width: 50%;
  height: 50vh;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid white;
  border-radius: 20px;
  box-shadow: 2px 4px 8px black;
}

.close {
  float: right;
  margin-right: 20px;
  font-size: 40px;
  margin-top: 0px;
  cursor: pointer;
}

.view {
  cursor: pointer;
  font-weight: bold;
}

.view:hover {
  background-color: #e06c41;
}

.orderwidth table {
  width: 80%;
  margin: 0 auto;
  clear: both;
}

.orderwidth td,th {
  border: 1px solid black;
  padding: 10px;
}

.orderwidth th{
  background-color: hsla(16, 72%, 57%, 0.782);
}

.orderwidth tbody:nth-child(odd) {
  background-color: hsla(16, 72%, 57%, 0.524);
}
